<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.service.blue.BlueDOMapper">
  <resultMap id="BaseResultMap" type="com.example.service.blue.BlueDO">
    <result column="CREDIT_ID" jdbcType="VARCHAR" property="creditId" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="ID_NUMBER" jdbcType="VARCHAR" property="idNumber" />
    <result column="REASON_EN" jdbcType="VARCHAR" property="reasonEn" />
    <result column="ORG_CODE" jdbcType="VARCHAR" property="orgCode" />
    <result column="CREATEDDATE" jdbcType="VARCHAR" property="createdDate" />

    <result column="reasonCh" jdbcType="VARCHAR" property="reasonCh" />
  </resultMap>

  <delete id="deleteByIdNumber" parameterType="java.lang.String">
    delete from CUSTOMER_BLUE where UPPER(ID_NUMBER) = #{idNumber}
  </delete>

  <select id="getList" parameterType="com.example.service.blue.BlueDO" resultMap="BaseResultMap">
    select blue.*,reason.REASON_CH reasonCh from CUSTOMER_BLUE blue
    left join DB_BLUE_REASON reason on blue.REASON_EN = reason.REASON_EN
    where 1=1
    <if test="name != null">
      and blue.NAME like '%'||#{name}||'%'
    </if>
    <if test="idNumber != null">
      and UPPER(blue.ID_NUMBER)  = #{idNumber}
    </if>
    order by blue.CREATEDDATE desc
  </select>


  <insert id="insertSelective" parameterType="com.example.service.blue.BlueDO">
    insert into CUSTOMER_BLUE
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="creditId != null">
        CREDIT_ID,
      </if>
      <if test="name != null">
        NAME,
      </if>
      <if test="idNumber != null">
        ID_NUMBER,
      </if>
      <if test="reasonEn != null">
        REASON_EN,
      </if>
      <if test="orgCode != null">
        ORG_CODE,
      </if>
      <if test="createdDate != null">
        CREATEDDATE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="creditId != null">
        #{creditId,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="idNumber != null">
        #{idNumber,jdbcType=VARCHAR},
      </if>
      <if test="reasonEn != null">
        #{reasonEn,jdbcType=VARCHAR},
      </if>
      <if test="orgCode != null">
        #{orgCode,jdbcType=VARCHAR},
      </if>
      <if test="createdDate != null">
        #{createdDate,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>