<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.service.interview.CustomerInterviewDOMapper">
  <resultMap id="BaseResultMap" type="com.example.service.interview.CustomerInterviewDO">
    <id column="ID" jdbcType="BIGINT" property="id" />
    <result column="CUSTOMER_ID" jdbcType="BIGINT" property="customerId" />
    <result column="CUSTOMER_NAME" jdbcType="VARCHAR" property="customerName" />
    <result column="ID_NUMBER" jdbcType="VARCHAR" property="idNumber" />
    <result column="SEX" jdbcType="VARCHAR" property="sex" />
    <result column="IS_MARRIED" jdbcType="VARCHAR" property="isMarried" />
    <result column="EDUCATION" jdbcType="VARCHAR" property="education" />
    <result column="PHONE" jdbcType="VARCHAR" property="phone" />
    <result column="FAMILY_SIZE" jdbcType="VARCHAR" property="familySize" />
    <result column="NATIVE_ADDRESS" jdbcType="VARCHAR" property="nativeAddress" />
    <result column="RESIDENCE_ADDRESS" jdbcType="VARCHAR" property="residenceAddress" />
    <result column="CARD_HOLDER" jdbcType="VARCHAR" property="cardHolder" />
    <result column="CARD_NUMBER" jdbcType="VARCHAR" property="cardNumber" />
    <result column="APPRAISE_SUM" jdbcType="VARCHAR" property="appraiseSum" />
    <result column="APPLIED_SUM" jdbcType="VARCHAR" property="appliedSum" />
    <result column="TIME_LIMIT" jdbcType="VARCHAR" property="timeLimit" />
    <result column="PROVIDE" jdbcType="VARCHAR" property="provide" />
    <result column="REPAYMENT" jdbcType="VARCHAR" property="repayment" />
    <result column="INTEREST_SETTLEMENT" jdbcType="VARCHAR" property="interestSettlement" />
    <result column="TYPE" jdbcType="VARCHAR" property="type" />
    <result column="USER_ID" jdbcType="BIGINT" property="userId" />
    <result column="USER_NAME" jdbcType="VARCHAR" property="userName" />
    <result column="ORG_CODE" jdbcType="VARCHAR" property="orgCode" />
    <result column="ORG_NAME" jdbcType="VARCHAR" property="orgName" />
    <result column="GRID_NAME" jdbcType="VARCHAR" property="gridName" />
    <result column="GRID_CODE" jdbcType="VARCHAR" property="gridCode" />
    <result column="COMMENT" jdbcType="VARCHAR" property="comment" />
    <result column="APPROVAL_STATUS" jdbcType="VARCHAR" property="approvalStatus" />
    <result column="STATUS" jdbcType="VARCHAR" property="status" />
    <result column="ATTACH_FLAG" jdbcType="VARCHAR" property="attachFlag" />
    <result column="CREATED_AT" jdbcType="BIGINT" property="createdAt" />
    <result column="UPDATED_AT" jdbcType="BIGINT" property="updatedAt" />
    <result column="PURPOSE" jdbcType="VARCHAR" property="purpose" />
    <result column="HOUSEHOLD_ID" jdbcType="VARCHAR" property="householdId" />
    <result column="photo" jdbcType="VARCHAR" property="photo" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, CUSTOMER_ID, CUSTOMER_NAME, ID_NUMBER, SEX, IS_MARRIED, EDUCATION, PHONE, FAMILY_SIZE, 
    NATIVE_ADDRESS, RESIDENCE_ADDRESS, CARD_HOLDER, CARD_NUMBER, APPRAISE_SUM, APPLIED_SUM, 
    TIME_LIMIT, PROVIDE, REPAYMENT, INTEREST_SETTLEMENT, TYPE, USER_ID, USER_NAME, ORG_CODE, 
    ORG_NAME, GRID_NAME, GRID_CODE, COMMENT, APPROVAL_STATUS, STATUS, ATTACH_FLAG, CREATED_AT, 
    UPDATED_AT, PURPOSE, HOUSEHOLD_ID
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from CUSTOMER_INTERVIEW
    where ID = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from CUSTOMER_INTERVIEW
    where ID = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.example.service.interview.CustomerInterviewDO">
    insert into CUSTOMER_INTERVIEW (ID, CUSTOMER_ID, CUSTOMER_NAME, 
      ID_NUMBER, SEX, IS_MARRIED, 
      EDUCATION, PHONE, FAMILY_SIZE, 
      NATIVE_ADDRESS, RESIDENCE_ADDRESS, CARD_HOLDER, 
      CARD_NUMBER, APPRAISE_SUM, APPLIED_SUM, 
      TIME_LIMIT, PROVIDE, REPAYMENT, 
      INTEREST_SETTLEMENT, TYPE, USER_ID, 
      USER_NAME, ORG_CODE, ORG_NAME, 
      GRID_NAME, GRID_CODE, COMMENT, 
      APPROVAL_STATUS, STATUS, ATTACH_FLAG, 
      CREATED_AT, UPDATED_AT, PURPOSE, 
      HOUSEHOLD_ID)
    values (#{id,jdbcType=BIGINT}, #{customerId,jdbcType=BIGINT}, #{customerName,jdbcType=VARCHAR}, 
      #{idNumber,jdbcType=VARCHAR}, #{sex,jdbcType=VARCHAR}, #{isMarried,jdbcType=VARCHAR}, 
      #{education,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, #{familySize,jdbcType=VARCHAR}, 
      #{nativeAddress,jdbcType=VARCHAR}, #{residenceAddress,jdbcType=VARCHAR}, #{cardHolder,jdbcType=VARCHAR}, 
      #{cardNumber,jdbcType=VARCHAR}, #{appraiseSum,jdbcType=VARCHAR}, #{appliedSum,jdbcType=VARCHAR}, 
      #{timeLimit,jdbcType=VARCHAR}, #{provide,jdbcType=VARCHAR}, #{repayment,jdbcType=VARCHAR}, 
      #{interestSettlement,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}, #{userId,jdbcType=BIGINT}, 
      #{userName,jdbcType=VARCHAR}, #{orgCode,jdbcType=VARCHAR}, #{orgName,jdbcType=VARCHAR}, 
      #{gridName,jdbcType=VARCHAR}, #{gridCode,jdbcType=VARCHAR}, #{comment,jdbcType=VARCHAR}, 
      #{approvalStatus,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, #{attachFlag,jdbcType=VARCHAR}, 
      #{createdAt,jdbcType=BIGINT}, #{updatedAt,jdbcType=BIGINT}, #{purpose,jdbcType=VARCHAR}, 
      #{householdId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.example.service.interview.CustomerInterviewDO">
    insert into CUSTOMER_INTERVIEW
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="customerId != null">
        CUSTOMER_ID,
      </if>
      <if test="customerName != null">
        CUSTOMER_NAME,
      </if>
      <if test="idNumber != null">
        ID_NUMBER,
      </if>
      <if test="sex != null">
        SEX,
      </if>
      <if test="isMarried != null">
        IS_MARRIED,
      </if>
      <if test="education != null">
        EDUCATION,
      </if>
      <if test="phone != null">
        PHONE,
      </if>
      <if test="familySize != null">
        FAMILY_SIZE,
      </if>
      <if test="nativeAddress != null">
        NATIVE_ADDRESS,
      </if>
      <if test="residenceAddress != null">
        RESIDENCE_ADDRESS,
      </if>
      <if test="cardHolder != null">
        CARD_HOLDER,
      </if>
      <if test="cardNumber != null">
        CARD_NUMBER,
      </if>
      <if test="appraiseSum != null">
        APPRAISE_SUM,
      </if>
      <if test="appliedSum != null">
        APPLIED_SUM,
      </if>
      <if test="timeLimit != null">
        TIME_LIMIT,
      </if>
      <if test="provide != null">
        PROVIDE,
      </if>
      <if test="repayment != null">
        REPAYMENT,
      </if>
      <if test="interestSettlement != null">
        INTEREST_SETTLEMENT,
      </if>
      <if test="type != null">
        TYPE,
      </if>
      <if test="userId != null">
        USER_ID,
      </if>
      <if test="userName != null">
        USER_NAME,
      </if>
      <if test="orgCode != null">
        ORG_CODE,
      </if>
      <if test="orgName != null">
        ORG_NAME,
      </if>
      <if test="gridName != null">
        GRID_NAME,
      </if>
      <if test="gridCode != null">
        GRID_CODE,
      </if>
      <if test="comment != null">
        COMMENT,
      </if>
      <if test="approvalStatus != null">
        APPROVAL_STATUS,
      </if>
      <if test="status != null">
        STATUS,
      </if>
      <if test="attachFlag != null">
        ATTACH_FLAG,
      </if>
      <if test="createdAt != null">
        CREATED_AT,
      </if>
      <if test="updatedAt != null">
        UPDATED_AT,
      </if>
      <if test="purpose != null">
        PURPOSE,
      </if>
      <if test="householdId != null">
        HOUSEHOLD_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="customerId != null">
        #{customerId,jdbcType=BIGINT},
      </if>
      <if test="customerName != null">
        #{customerName,jdbcType=VARCHAR},
      </if>
      <if test="idNumber != null">
        #{idNumber,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        #{sex,jdbcType=VARCHAR},
      </if>
      <if test="isMarried != null">
        #{isMarried,jdbcType=VARCHAR},
      </if>
      <if test="education != null">
        #{education,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="familySize != null">
        #{familySize,jdbcType=VARCHAR},
      </if>
      <if test="nativeAddress != null">
        #{nativeAddress,jdbcType=VARCHAR},
      </if>
      <if test="residenceAddress != null">
        #{residenceAddress,jdbcType=VARCHAR},
      </if>
      <if test="cardHolder != null">
        #{cardHolder,jdbcType=VARCHAR},
      </if>
      <if test="cardNumber != null">
        #{cardNumber,jdbcType=VARCHAR},
      </if>
      <if test="appraiseSum != null">
        #{appraiseSum,jdbcType=VARCHAR},
      </if>
      <if test="appliedSum != null">
        #{appliedSum,jdbcType=VARCHAR},
      </if>
      <if test="timeLimit != null">
        #{timeLimit,jdbcType=VARCHAR},
      </if>
      <if test="provide != null">
        #{provide,jdbcType=VARCHAR},
      </if>
      <if test="repayment != null">
        #{repayment,jdbcType=VARCHAR},
      </if>
      <if test="interestSettlement != null">
        #{interestSettlement,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="userName != null">
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="orgCode != null">
        #{orgCode,jdbcType=VARCHAR},
      </if>
      <if test="orgName != null">
        #{orgName,jdbcType=VARCHAR},
      </if>
      <if test="gridName != null">
        #{gridName,jdbcType=VARCHAR},
      </if>
      <if test="gridCode != null">
        #{gridCode,jdbcType=VARCHAR},
      </if>
      <if test="comment != null">
        #{comment,jdbcType=VARCHAR},
      </if>
      <if test="approvalStatus != null">
        #{approvalStatus,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="attachFlag != null">
        #{attachFlag,jdbcType=VARCHAR},
      </if>
      <if test="createdAt != null">
        #{createdAt,jdbcType=BIGINT},
      </if>
      <if test="updatedAt != null">
        #{updatedAt,jdbcType=BIGINT},
      </if>
      <if test="purpose != null">
        #{purpose,jdbcType=VARCHAR},
      </if>
      <if test="householdId != null">
        #{householdId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.service.interview.CustomerInterviewDO">
    update CUSTOMER_INTERVIEW
    <set>
      <if test="customerId != null">
        CUSTOMER_ID = #{customerId,jdbcType=BIGINT},
      </if>
      <if test="customerName != null">
        CUSTOMER_NAME = #{customerName,jdbcType=VARCHAR},
      </if>
      <if test="idNumber != null">
        ID_NUMBER = #{idNumber,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        SEX = #{sex,jdbcType=VARCHAR},
      </if>
      <if test="isMarried != null">
        IS_MARRIED = #{isMarried,jdbcType=VARCHAR},
      </if>
      <if test="education != null">
        EDUCATION = #{education,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        PHONE = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="familySize != null">
        FAMILY_SIZE = #{familySize,jdbcType=VARCHAR},
      </if>
      <if test="nativeAddress != null">
        NATIVE_ADDRESS = #{nativeAddress,jdbcType=VARCHAR},
      </if>
      <if test="residenceAddress != null">
        RESIDENCE_ADDRESS = #{residenceAddress,jdbcType=VARCHAR},
      </if>
      <if test="cardHolder != null">
        CARD_HOLDER = #{cardHolder,jdbcType=VARCHAR},
      </if>
      <if test="cardNumber != null">
        CARD_NUMBER = #{cardNumber,jdbcType=VARCHAR},
      </if>
      <if test="appraiseSum != null">
        APPRAISE_SUM = #{appraiseSum,jdbcType=VARCHAR},
      </if>
      <if test="appliedSum != null">
        APPLIED_SUM = #{appliedSum,jdbcType=VARCHAR},
      </if>
      <if test="timeLimit != null">
        TIME_LIMIT = #{timeLimit,jdbcType=VARCHAR},
      </if>
      <if test="provide != null">
        PROVIDE = #{provide,jdbcType=VARCHAR},
      </if>
      <if test="repayment != null">
        REPAYMENT = #{repayment,jdbcType=VARCHAR},
      </if>
      <if test="interestSettlement != null">
        INTEREST_SETTLEMENT = #{interestSettlement,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        TYPE = #{type,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        USER_ID = #{userId,jdbcType=BIGINT},
      </if>
      <if test="userName != null">
        USER_NAME = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="orgCode != null">
        ORG_CODE = #{orgCode,jdbcType=VARCHAR},
      </if>
      <if test="orgName != null">
        ORG_NAME = #{orgName,jdbcType=VARCHAR},
      </if>
      <if test="gridName != null">
        GRID_NAME = #{gridName,jdbcType=VARCHAR},
      </if>
      <if test="gridCode != null">
        GRID_CODE = #{gridCode,jdbcType=VARCHAR},
      </if>
      <if test="comment != null">
        COMMENT = #{comment,jdbcType=VARCHAR},
      </if>
      <if test="approvalStatus != null">
        APPROVAL_STATUS = #{approvalStatus,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        STATUS = #{status,jdbcType=VARCHAR},
      </if>
      <if test="attachFlag != null">
        ATTACH_FLAG = #{attachFlag,jdbcType=VARCHAR},
      </if>
      <if test="createdAt != null">
        CREATED_AT = #{createdAt,jdbcType=BIGINT},
      </if>
      <if test="updatedAt != null">
        UPDATED_AT = #{updatedAt,jdbcType=BIGINT},
      </if>
      <if test="purpose != null">
        PURPOSE = #{purpose,jdbcType=VARCHAR},
      </if>
      <if test="householdId != null">
        HOUSEHOLD_ID = #{householdId,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.service.interview.CustomerInterviewDO">
    update CUSTOMER_INTERVIEW
    set CUSTOMER_ID = #{customerId,jdbcType=BIGINT},
      CUSTOMER_NAME = #{customerName,jdbcType=VARCHAR},
      ID_NUMBER = #{idNumber,jdbcType=VARCHAR},
      SEX = #{sex,jdbcType=VARCHAR},
      IS_MARRIED = #{isMarried,jdbcType=VARCHAR},
      EDUCATION = #{education,jdbcType=VARCHAR},
      PHONE = #{phone,jdbcType=VARCHAR},
      FAMILY_SIZE = #{familySize,jdbcType=VARCHAR},
      NATIVE_ADDRESS = #{nativeAddress,jdbcType=VARCHAR},
      RESIDENCE_ADDRESS = #{residenceAddress,jdbcType=VARCHAR},
      CARD_HOLDER = #{cardHolder,jdbcType=VARCHAR},
      CARD_NUMBER = #{cardNumber,jdbcType=VARCHAR},
      APPRAISE_SUM = #{appraiseSum,jdbcType=VARCHAR},
      APPLIED_SUM = #{appliedSum,jdbcType=VARCHAR},
      TIME_LIMIT = #{timeLimit,jdbcType=VARCHAR},
      PROVIDE = #{provide,jdbcType=VARCHAR},
      REPAYMENT = #{repayment,jdbcType=VARCHAR},
      INTEREST_SETTLEMENT = #{interestSettlement,jdbcType=VARCHAR},
      TYPE = #{type,jdbcType=VARCHAR},
      USER_ID = #{userId,jdbcType=BIGINT},
      USER_NAME = #{userName,jdbcType=VARCHAR},
      ORG_CODE = #{orgCode,jdbcType=VARCHAR},
      ORG_NAME = #{orgName,jdbcType=VARCHAR},
      GRID_NAME = #{gridName,jdbcType=VARCHAR},
      GRID_CODE = #{gridCode,jdbcType=VARCHAR},
      COMMENT = #{comment,jdbcType=VARCHAR},
      APPROVAL_STATUS = #{approvalStatus,jdbcType=VARCHAR},
      STATUS = #{status,jdbcType=VARCHAR},
      ATTACH_FLAG = #{attachFlag,jdbcType=VARCHAR},
      CREATED_AT = #{createdAt,jdbcType=BIGINT},
      UPDATED_AT = #{updatedAt,jdbcType=BIGINT},
      PURPOSE = #{purpose,jdbcType=VARCHAR},
      HOUSEHOLD_ID = #{householdId,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=BIGINT}
  </update>
  <select id="getListByIdNumber" parameterType="com.example.service.interview.CustomerInterviewDO" resultMap="BaseResultMap">
   select * from  CUSTOMER_INTERVIEW where 1=1  and id_number = #{idNumber}
  </select>
  <select id="getListByIdNumbersAndApprovalStatus" parameterType="java.util.Map" resultMap="BaseResultMap">
   select * from  CUSTOMER_INTERVIEW where 1=1 and id_number in 
     <foreach item="item" index="index" collection="idNumberList" 
                         open="(" separator="," close=")">
                        #{item}
                </foreach>
    and APPROVAL_STATUS !='4' and type=#{type}
  </select>
  <select id="getListByIds" parameterType="java.util.Map" resultMap="BaseResultMap">
   select * from  CUSTOMER_INTERVIEW where 1=1 and id in
    <foreach item="item" index="index" collection="idList" 
                         open="(" separator="," close=")">
                        #{item}
                </foreach>
  </select>
   <select id="getList" parameterType="java.util.Map"  resultMap="BaseResultMap">
  select distinct ci.id, ci.*,
  (select ivf.id from INTERVIEW_FILE ivf where ivf.INTERVIEW_ID=ci.id and ivf.type='2'  order by ivf.CREATED_AT desc fetch first 1 rows only ) as photo  
  from CUSTOMER_INTERVIEW   ci     left join  GRID_INFO  gi on ci.grid_code=gi.grid_code
  left join INTERVIEW_FILE itf on  itf.INTERVIEW_ID= ci.id 
    where 1=1  and ci.org_code  like #{orgCode}||'%'
    <if test='photo =="0"'>
 and (select count(INTERVIEW_ID) from INTERVIEW_FILE where INTERVIEW_ID=ci.id  and type='2')=0
   </if>
    <if test='photo =="1"'>
    and itf.type='2'
   </if>
  
   <if test="userId != null">
   and gi.user_id =#{userId} 
   </if>
   
   <if test='approvalStatus =="0"'>
   and ((ci.approval_status ='0') or (ci.approval_status ='5'))
   </if>
   <if test='approvalStatus =="1"'>
   and ci.approval_status = #{approvalStatus} 
   </if>
   <if test='approvalStatus =="2"'>
   and ci.approval_status = #{approvalStatus} 
   </if>
    <if test='approvalStatus =="3"'>
   and ci.approval_status = #{approvalStatus} 
   </if>
   <if test='approvalStatus =="4"'>
   and ci.approval_status = #{approvalStatus} 
   </if>
   
   
   
   <if test="gridCode != null">
     and  ci.GRID_CODE  = #{gridCode}
      </if>
       <if test="someOrgCode != null">
     and  ci.org_code  = #{someOrgCode}
      </if>
  
  
   <if test='attachFlag =="1"'>
   and ci.attach_flag !='1.1.1'  and ci.attach_flag !='0.0.0' 
   </if>
   <if test='attachFlag =="2"'>
   and ci.attach_flag ='1.1.1' 
   </if>
    <if test='attachFlag =="3"'>
   and ci.attach_flag ='0.0.0' 
   </if>
   
   
   <if test="idNumber != null">
   and ci.id_number  like '%'||#{idNumber}||'%'
  </if>
  
  <if test="customerName != null">
   and ci.customer_name  like '%'||#{customerName}||'%'
  </if> -->
  order by ci.created_at desc
      
  
  </select>
  
  
</mapper>