<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration
        PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
        "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">

<generatorConfiguration>
    <context id="DB2Tables" targetRuntime="MyBatis3">
        <!--配置注释，如下是不生成注释-->
        <commentGenerator>
            <property name="suppressDate" value="true"/>
            <property name="suppressAllComments" value="true" />
        </commentGenerator>
        <!--项目初始化时配置-数据库-->
        <jdbcConnection driverClass="com.ibm.db2.jcc.DB2Driver"
                        connectionURL="jdbc:db2://192.168.1.101:50000/db2grid"
                        userId="db2admin"
                        password="1"/>

        <javaTypeResolver >
            <property name="forceBigDecimals" value="false" />
        </javaTypeResolver>
        <!--1.项目初始化时配置存放位置，生成Model类-->
        <javaModelGenerator targetPackage="com.example.service" targetProject="src/main/java">
            <property name="enableSubPackages" value="true"/>
            <property name="trimStrings" value="true"/>
        </javaModelGenerator>
        <!--2.项目初始化时配置存放位置，生成Mapper.xml-->
        <sqlMapGenerator targetPackage="mapper" targetProject="src/main/resources">
            <property name="enableSubPackages" value="true"/>
        </sqlMapGenerator>
        <!--3.项目初始化时配置存放位置，生成Dao类-->
        <javaClientGenerator type="XMLMAPPER" targetPackage="com.example.service" targetProject="src/main/java">
            <property name="enableSubPackages" value="true"/>
        </javaClientGenerator>

        <!--###############只需要修改表名和类名即可###############################################-->
        <!--生成对应表及类名-->
        <table tableName="customer_image" domainObjectName="CustomerImageDO" enableCountByExample="false" enableUpdateByExample="false"
               enableDeleteByExample="false" enableSelectByExample="false" selectByExampleQueryId="false">
            <columnOverride column="LONG_VARCHAR_FIELD" javaType="java.lang.String" jdbcType="VARCHAR" />
        </table>

    </context>
</generatorConfiguration>